.calendar-container {
    max-width: 1100px;
    margin: 0 auto;
    background-color: #1e1e1e; /* Fundo escuro */
    padding: 20px;
    border-radius: 10px;
    color: #fff; /* Cor do texto para contraste */
}

/* Estilo para os dias e eventos */
.rbc-month-view, .rbc-time-view {
    background-color: #282828; /* Cor de fundo da tabela do calendário */
}

.rbc-event {
    background-color: #3b82f6; /* Cor de destaque para eventos */
    color: #fff;
    border-radius: 4px;
    padding: 4px;
    font-size: 0.9rem;
}

.rbc-event:hover {
    background-color: #2563eb;
}

/* Estilo das linhas do calendário */
.rbc-row-segment, .rbc-time-slot {
    border-color: #444; /* Cor das linhas que separam os dias */
}

.rbc-toolbar {
    background-color: #1e1e1e; /* Fundo da barra de navegação */
    border-bottom: 1px solid #444;
}

.rbc-toolbar button {
    background-color: #fcfcfc;
    color: #000;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
}

.rbc-toolbar button:hover {
    background-color: #555;
}

.rbc-toolbar-label {
    font-size: 1.4rem;
    color: #fff;
}

/* Estilo do dia atual */
.rbc-today {
    background-color: #333;
}

.rbc-day-bg {
    background-color: #1e1e1e;
}

.rbc-time-header {
    border-color: #444;
}

/* Estilo do header do calendário */
.rbc-header {
    background-color: #333;
    color: #fff;
    border: none;
}

.rbc-header:hover {
    background-color: #444;
}

.rbc-off-range-bg {
    background-color: #222; /* Cor para dias que não pertencem ao mês atual */
}
