/* ChatPage.css */

/* O contêiner do chat deve ocupar toda a altura e a largura disponíveis */
.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ocupar toda a altura da janela */
  background-color: #333;
  padding: 0;
  box-sizing: border-box;
  width: 100vh; /* Ajustar para ocupar a largura total */
  overflow: hidden; /* Prevenir rolagem no contêiner principal */
}

/* O cabeçalho do chat */
.chat-header {
  text-align: center;
  color: #fff;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 500;
  border-bottom: 1px solid #444;
  background-color: #333;
  flex-shrink: 0;
}

/* A área das mensagens deve ser rolável */
.chat-messages {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: #444;
  border: 0px solid #000101;
  border-radius: 10px;
  margin: 15px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

/* Estilos para as mensagens */
.chat-message {
  display: flex;
  margin-bottom: 10px;
  padding: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
  font-size: 16px;
  line-height: 1.4;
  border-radius: 10px;
  max-width: 70%; /* Limitar a largura máxima para que a mensagem não fique muito larga */
}

/* Mensagens do usuário alinhadas à direita */
.chat-message.user {
  background-color: #000;
  color: #fff;
  align-self: flex-end; /* Alinha as mensagens à direita */
  width: auto; /* Ajusta a largura automaticamente */
}

/* Mensagens do bot alinhadas à esquerda */
.chat-message.assistant {
  background-color: #e0e0e0;
  width: auto;
  color: #000;
  align-self: flex-start; /* Alinha as mensagens à esquerda */
  margin-right: auto; /* Faz com que o conteúdo vá para a esquerda */
  max-width: 100%;
}

/* O campo de entrada e botão de envio */
.chat-input-container {
  display: flex;
  padding:00px;
  background-color: #444;
  border-top: 1px solid #555;
  box-sizing: border-box;
  flex-shrink: 0;
}

.chat-input {
  flex-grow: 1;
  background-color: #dadada;
  color: #000;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.chat-input::placeholder {
  color: #000;
}

.chat-send-button {
  background-color: #0084ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin-left: 10px;
  cursor: pointer;
}

.chat-send-button:hover {
  background-color: #005fa8;
}

/* Estilo da barra de rolagem */
.chat-messages::-webkit-scrollbar {
  width: 8px;
}

.chat-messages::-webkit-scrollbar-track {
  background-color: #444;
}

.chat-messages::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.chat-messages::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
