/* Definindo a estrutura geral da página */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #444; /* Cor do fundo do cabeçalho */
  color: white;
  width: 100%;
  box-sizing: border-box;
}

.header h2 {
  margin: 0;
}
.home-student {
  display: flex;
  min-height: 100vh;
  background-color: #333;
  padding-left: 200px; /* Largura da Sidebar */
  width: 100%;
}

.home-student.sidebar-collapsed {
  padding-left: 80px; /* Ajustar quando a sidebar estiver colapsada */
}

/* Cabeçalho (header) para o título e o ícone do usuário */


/* Garantir que o conteúdo ocupe o restante da página corretamente */
.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
}

/* Ajuste adicional para garantir que o chat ocupe o espaço disponível */
.chat-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Estilo para o ícone de usuário no cabeçalho */
.user-icon {
  margin-left: auto; /* Garante que o ícone fique alinhado à direita */
}
