/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1, h2 {
  font-size: 24px;
  color: #fff;
}

p {
  margin: 10px 0;
  color: #fff;
}

/* Login form container */
.login-container {
  background-color: #444;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #777;
  font-size: 16px;
  background-color: #555;
  color: #fff;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.login-container button:hover {
  background-color: #45a049;
}

/* Error message */
.error {
  color: red;
  margin-top: 10px;
}

/* Password recovery link */
.login-container p button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 14px;
  padding: 0;
}

.login-container p button:hover {
  text-decoration: underline;
}

/* Password recovery modal */
.recovery-modal {
  background-color: #444; /* Light black for modal background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 350px;
}

.recovery-modal input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #777;
  font-size: 16px;
  background-color: #555;
  color: #fff;
}

.recovery-modal button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.recovery-modal button:hover {
  background-color: #0069d9;
}

.success {
  color: green;
  margin-top: 10px;
}

.ResgisterLoginLink {
  color: #007bff;
  cursor: pointer;
  font-size: 14px;
  padding: 0;
  text-decoration: none;
}