/* src/styles/Sidebar.css */

.sidebar {
  width: 200px;
  background-color: #444;
  height: 100vh;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: width 0.3s ease; /* Suave transição ao colapsar/expandir */
  overflow: hidden;
  z-index: 1000;
}

.sidebar.collapsed {
  width: 80px;
}

.sidebar .toggle-btn {
  background-color: #666;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 20px;
}

.sidebar .toggle-btn:hover {
  background-color: #555;
}

.sidebar button {
  background: none;
  border: none;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background 0.3s ease;
  width: 100%;
}

.sidebar button:hover {
  background-color: #4caf50;
}

.sidebar button .icon {
  margin-right: 10px;
}

.sidebar.collapsed button .icon {
  margin: 0 auto;
}

.sidebar button.logout-icon {
  margin-left: auto;
}

.sidebar h3 {
  color: #fff;
  margin-bottom: 20px;
}

.sidebar hr {
  border: none;
  border-top: 1px solid #555;
  margin: 20px 0;
}
