.study-sessions-container {
  display: flex;
  height: 100vh; /* Ocupar a altura total da tela */
  overflow: hidden; /* Evitar rolagem na página principal */
}

.study-sessions-content {
  flex-grow: 1;
  overflow-y: auto; /* Adicionar a barra de rolagem na área de conteúdo */
  padding: 20px;
}

.discipline-actions {
  text-align: center;
  margin-bottom: 20px;
}

.discipline-section {
  background-color: #444;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.discipline-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sessions-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.session-card {
  background-color: #555;
  color: #fff;
  text-align: center;
  width: calc(33.333% - 20px);
  min-height: 150px;
  border-radius: 8px;
}

.new-session-card {
  background-color: #666;
  color: #fff;
  text-align: center;
  width: calc(33.333% - 20px);
  min-height: 150px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-session-card:hover,
.session-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.modal-content {
  background-color: #444;
}

.add_session_text {
  color: #182b00;
  font-size: 1.5rem;
}