.App {
  text-align: center;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* No seu arquivo de estilos globais */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root {
  display: flex;
}

.main-content {
  flex: 1;
  margin-left: var(--sidebar-width);
  transition: margin var(--transition-speed) ease;
}

.main-content.sidebar-collapsed {
  margin-left: var(--sidebar-collapsed-width);
}

@media screen and (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }
}
